<div class="app-body animated fadeIn">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body custom-login">
                <form class="row mb-4" [formGroup]="userForm" novalidate (ngSubmit)="saveUser()" autocomplete="off"
                      enctype="multipart/form-data">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h4>Reset Password</h4>
                      </div>
                      <div class="card-body">
                        <div class="row">


                          <app-form-input-text class="col-md-12" [label]="'Email'"
                                               [control]="userForm.get('email')"
                                               [validationMessage]="'Email is required'">
                          </app-form-input-text>


                          <app-form-input-password *ngIf="!id" class="col-md-12" [label]="'Password'"
                                                   [control]="userForm.get('password')"
                                                   [validationMessage]="'Password is required'">
                          </app-form-input-password>
                          <app-form-input-password *ngIf="!id" class="col-md-12" [label]="'Confirm Password'"
                                                   [control]="userForm.get('password_confirmation')"
                                                   [validationMessage]="'Confirm Password is required'">
                          </app-form-input-password>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div>
                      <button class="btn btn-primary" type="submit">
                        {{ id ? 'Update' : 'Submit'}}
                      </button>&nbsp;
                      <button class="btn btn-danger" (click)="cancel()">
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


